<% if user_signed_in? %>
  <div>こんにちは、<%= @user.email %>　さん</div>
  <%= link_to('ログアウト', destroy_user_session_path, method: :delete) %>
<% else %>
  <div class="content">
          <a class="js-modal-open" href="" data-target="modal01">新規登録</a><br>
          <a class="js-modal-open" href="" data-target="modal02">ログイン</a>
  </div>
  <div id="modal01" class="modal js-modal">
      <div class="modal__bg js-modal-close"></div>
      <div class="modal__content">
        <div class="modal-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "30" %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", size: "30" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", size: "30" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
        <a class="js-modal-close" href="">閉じる</a>
      </div><!--modal__inner-->
  </div><!--modal-->
  <div id="modal02" class="modal js-modal">
      <div class="modal__bg js-modal-close"></div>
      <div class="modal__content">
          <div class="modal-body">    
                  <div>
                      <h1>Log In</h1>
                      <br>
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                          <div class="wrap">
                                <div class="field">
                                  <label for="email">Email</label>
                                  <%= f.email_field :email %>
                                </div>

                              <div class="field">
                                  <label for="password">Password</label>
                                  <%= f.password_field :password, autocomplete: "off" %>
                                </div><br>

                                <div>
                                    <% if devise_mapping.rememberable? -%>
                                      <div class="field">
                                            <%= f.check_box :remember_me %>
                                            <%= f.label :remember_me %>
                                      </div>
                                    <% end -%>     
                                </div>

                              <div>
                                <%= f.submit "Log in", class: 'btn btn-primary' %>
                              </div> 

                              <div>
                                  <% render "devise/shared/links" %>
                              </div>

                          </div>
                        <% end %>
                  </div>
                </div>
          <a class="js-modal-close" href="">閉じる</a>
      </div><!--modal__inner-->
  </div><!--modal-->
<% end %>